@import '../../../styles.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $color-lightDark;
  background-color: $background-color1;
  
  &-title {
    margin: 0;
    a {
      @include antonio-medium;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-bright;
    }
  }

}

.mobileMenu {
  display: flex;
  align-items: center;

  &-dropdownimg {
    align-self: center;
    width: 24px;
    height: 20px;
    margin:  0;
  
    img {
      width: inherit;
      height: inherit;
    }
  }
  
  &-menu {
    position: absolute;
    z-index: 50;
    top: 77px;
    left: 0;
    width: 100%;
    height: 85vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #070724cf;;
    &-item {
      display: flex;
      align-items: center;
      list-style: none;
      height: 45px;
      border-bottom: 1px solid $color-lightDark;
  
      div {
        width: 20px;
        height: 20px;
        margin: 0;
        border-radius: 100%;
      }
  
      a {
        flex-grow: 2;
        @include spartan-body;
        padding-left: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-bright;
      }
  
      p {
        color: $color-lightDark
      }
    }
  }
}
.desktopMenu {
  display: none;
}

@media ($medium-screen) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px 0px 40px;

    &-title {
      margin: 10px 0;
    }
  }
  .mobileMenu {
    display: none;
  }
  
  .desktopMenu {
    display: block;
    width: 100%;
    &-menu {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      &-item {
        padding: 25px 0;
        list-style: none;

        a {
          margin: 0 10px;
          letter-spacing: 1px;
          text-decoration: none;
          color: white;
        }
        a:first-child {
          margin-left: 0;
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }

  }

}

@media ($large-screen) {
  .header {
    flex-direction: row;
    padding: 0px 40px 0px 40px;
  }

  .desktopMenu {
    width: auto;

    &-menu-item {
      margin: 0 20px;
      padding: 35px 0;
    }
  }
}