@import "../../../styles.scss";

:host {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: 80vh;
}

h1 {
  font-family: $fontType-secondary;
  font-size: 2.75rem;
  font-weight: 300;
  letter-spacing: -0.6px;
}

p {
  font-family: $fontType-main;
  margin-bottom: 30px;
}

figure {
  width: 170px;
  height: 170px;
  margin: auto;
  img {
    width: inherit;
    height: inherit;
  }
}